.tu-highlight-friend {
    background-color: rgba(100, 65, 164, 0.2);
}

.tu-highlight-vip {
    background-color: rgba(0, 215, 0, 0.2);
}

.tu-hidden {
    visibility: hidden!important;
}

.tu-settings-gui {
    width: 60vw;
    height: 65vh;
    min-width: 500px;
    min-height: 300px;
    z-index: 999999;
    left: 20vw;
    top: 17vh;
    user-select: none;
}

.tu-settings-header {
    background-color: #4b367c;
    /* cursor: move; */
}

.tu-settings-tab-container > li {
    background-color: #e9e9e9;
}

.tw-theme--dark .tu-settings-tab-container > li {
    background-color: #0e0c13;
}

.tu-settings-tab-container > li:hover {
    cursor: pointer;
    background-color: #fff;
}

.tw-theme--dark .tu-settings-tab-container > li:hover {
    cursor: pointer;
    background-color: #201c2b;
}

.tu-settings-tab-container > li.tu-settings-tab-active {
    cursor: default;
    background-color: #fff;
}

.tw-theme--dark .tu-settings-tab-container > li.tu-settings-tab-active {
    cursor: default;
    background-color: #201c2b;
}

.tu-settings-main {
    height: calc(65vh - 112px);
}

.tu-settings-desc {
    color: #808080;
}
