.tmt-highlight-friend {
    background-color: rgba(100, 65, 164, 0.2);
}

.tmt-highlight-vip {
    background-color: rgba(0, 215, 0, 0.2);
}

.tmt-hidden {
    visibility: hidden;
}

.tmt-settings-gui {
    width: 500px;
    height: 300px;
    z-index: 999999;
    top: calc(50vh - 150px);
    left: calc(50vw - 250px);
    user-select: none;
}
